<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantaike.module.testmanagmt.mapper.ProjectMapper">
    <resultMap type="com.fantaike.module.testmanagmt.entity.Project" id="BaseResultMap">
        <id     property="projectId"       column="project_id"    jdbcType="BIGINT"  />
        <result property="projectName"        column="project_name"  jdbcType="VARCHAR"      />
        <result property="module"        column="module"  jdbcType="BIGINT"      />
        <result property="remark"        column="remark"  jdbcType="BIGINT"      />
    </resultMap>

    <select id="list" resultMap="BaseResultMap" 
            parameterType="com.fantaike.module.testmanagmt.entity.Project">
        SELECT
            * 
        FROM
            project 
        <where>
            <if test="model.projectId != null">
                AND project_id = #{model.projectId}
            </if>
            <if test="model.projectName != null and model.projectName != ''">
                AND project_name like concat('%',#{model.projectName},'%')
            </if>
        </where>
    </select>
</mapper>