<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fantaike.module.testmanagmt.mapper.ProjectCaseMapper">
    <resultMap type="com.fantaike.module.testmanagmt.entity.ProjectCase" id="BaseResultMap">
        <id     property="caseId"       column="case_id"    jdbcType="BIGINT"  />
        <result property="caseName"        column="case_name"  jdbcType="VARCHAR"      />
        <result property="projectId"        column="project_id"  jdbcType="BIGINT"      />
        <result property="order"        column="order"  jdbcType="INTEGER"      />
        <result property="caseType"        column="case_type"  jdbcType="INTEGER"      />
        <result property="loadVersion" column="load_version" jdbcType="INTEGER" />
    </resultMap>

    <select id="selectById" resultMap="BaseResultMap">
        select * from project_case where case_id = #{id, jdbcType=BIGINT}
    </select>

    <select id="selectParamByProjectId" resultType="com.fantaike.module.testmanagmt.entity.ProjectCaseParam">
        select params_name as name,
                params_value as `value`,
                project_id as projectId
        from project_case_params
        where project_id = #{id}
    </select>
</mapper>